<footer class="main-footer">
    <div class="container">
        <p>Built with PHPNomad - The Platform-Agnostic PHP Framework</p>
        <p>Proudly <a href="https://novatori.us">maintained by Novatorius.</a> <em>Mente Nova!</em></p>
    </div>
</footer>